.hide {
    opacity: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.eventStep {
    width: 200px;
    height: 100px;
    background-color: #7fdbff
}

.delayStep {
    width: 200px;
    height: 100px;
    background-color: #7fffed;
    border-radius: 0% 50px 50px 0%;
}

.decisionStep {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 50px solid #00ffe7;
    position: relative;
    top: -50px;;
}

.decisionStep:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 50px solid #00ffe7;
  }

.choose {
    text-transform: uppercase;
    margin-bottom: 30px;
    text-decoration: underline;
}

.title {
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}